<div class="container-fluid px-0">
    <div class="row g-0 vh-100">
      <!-- Lado Izquierdo (Texto) -->
      <div class="col-md-4 d-flex justify-content-end align-items-center text-white text-center bg-black p-5">
        <div class="d-flex flex-column align-items-center shift-over-image">
          <small class="text-uppercase mb-3" style="letter-spacing: 1px;">
            Cada pieza que entregamos está pensada para<br> durar, sostener y avanzar
          </small>
          <h1 class="fw-bold mb-4">
            Más de 40 años<br>
            acompañando a<br>
            quienes hacen<br>
            girar el país
          </h1>
          <a routerLink="/catalogo" class="btn btn-light rounded-pill">
            Conoce nuestro catálogo
          </a>
        </div>
      </div>
      
      
  
      <!-- Lado Derecho (Imagen) -->
      <div class="col-md-8 d-none d-lg-block">
        <img src="assets/banner-retenes.webp" alt="Rodamiento" class="img-fluid w-100 h-100 object-fit-cover">
      </div>
    </div>
  </div>
  