@font-face {
  font-family: 'DMSans-Regular';
  src: url('./assets/tipografias/DMSans_24pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Bold';
  src: url('./assets/tipografias/DMSans_24pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-ExtraBold';
  src: url('./assets/tipografias/DMSans_24pt-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Black';
  src: url('./assets/tipografias/DMSans_24pt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BebasNeue-Regular';
  src: url('./assets/tipografias/BebasNeue-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

.tooltip-inner {
  background-color: white !important; /* Fondo blanco */
  color: black !important;            /* Texto negro */
  border: 1px solid #ccc;             /* Opcional: borde gris claro */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Opcional: sombra suave */
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: white !important; /* Flechita del tooltip */
}
.tooltip {
  z-index: 900 !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #ccc;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 4px;
}

::-webkit-scrollbar-button {
  display: none;
}

@media (max-width: 991px) {
  .container,
  .container-fluid {
    height: auto !important;
  }
}