.tabla-contenedor {
  max-width: 290px;
  max-height: 500px;
  overflow: auto;
  background-color: #37393B;
  border-radius: 8px;
  padding: 8px;
}

/* Estilo de la tabla */
.tabla-estilizada {
    table-layout: fixed;
  width: 100%;
}

.tabla-estilizada thead {
  background-color: #37393B;
}

.tabla-estilizada th {
  color: #ccc;
  font-size: 12px;
  text-align: center;
  background-color: #37393B;
}

.tabla-estilizada td {
  color: white;
  vertical-align: middle;
  background-color: #37393B;
  padding: 10px 5px;
  text-align: center;

  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* evita que se expanda en múltiples líneas */
  max-width: 100px;
}

/* Fila activa */
.fila-activa td {
  background-color: #0A51AF !important;
  color: white !important;
}


/* Hover opcional */
.tabla-estilizada tbody tr:hover {
  background-color: #444;
}

/* Scrollbar custom (opcional para estética) */
.tabla-contenedor::-webkit-scrollbar {
  width: 6px;
}



.tabla-estilizada th,
.tabla-estilizada td {
  border-right: 1px solid #555;
  /* línea entre columnas */
}

.tabla-estilizada th:last-child,
.tabla-estilizada td:last-child {
  border-right: none;
  /* sin línea en la última columna */
}