.tabla-contenedor {
  max-width: 290px;
  max-height: 500px;
  overflow: auto;
  background-color: #37393B;
  border-radius: 8px;
  padding: 8px;
}

/* Estilo de la tabla */
.tabla-estilizada {
  table-layout: fixed;
  width: 100%;
}


.tabla-estilizada th,
.tabla-estilizada td {
  background-color: #37393B;
  color: #D6D6D6;
  text-align: center;
  border-right: 1px solid #555;
}

.tabla-estilizada th {
  font-size: 12px;
  font-family: "DMSans-ExtraBold", Helvetica;
}

.tabla-estilizada td {
  vertical-align: middle;
  padding: 10px 5px;
  font-family: "DMSans-Regular", Helvetica;
  font-size: 20px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
}

/* Fila activa */
.fila-activa td {
  background-color: #0A51AF !important;
  color: white !important;
}


/* Scrollbar custom (opcional para estética) */
.tabla-contenedor::-webkit-scrollbar {
  width: 6px;
}




.tabla-estilizada th:last-child,
.tabla-estilizada td:last-child {
  border-right: none;
}

.tabla-estilizada th:nth-child(1),
.tabla-estilizada td:nth-child(1),
.tabla-estilizada th:nth-child(3),
.tabla-estilizada td:nth-child(3) {
  width: 75px;
}

.tabla-estilizada th:nth-child(2),
.tabla-estilizada td:nth-child(2) {
  width: 115px;
}