<div class="tabla-contenedor">
  <table class="table tabla-estilizada">
    <thead>
      <tr>
        <th>Prefijo</th>
        <th>Cód. Artículo</th>
        <th>Marca</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" 
          (click)="seleccionarProducto(product._id)" 
          [class.fila-activa]="productoSeleccionado === product._id"
          style="cursor: pointer;">
        <td>{{ product.Prefijo }}</td>
        <td>{{ product.Codigo }}</td>
        <td>{{ product.MARCA }}</td>
      </tr>
    </tbody>
  </table>
</div>
