<app-buttons text="Cerrar sesión" type="secondary" (buttonClick)="logout()"></app-buttons>
<app-buttons text="Perfil" type="secondary" [routerLink]="['/perfil']"></app-buttons>

<app-buttons [isAdmin]="authService.isAdmin()" text="Panel de administrador" type="primary"
route="/admin/dashboard"></app-buttons>

<!-- <div *ngIf="authService.isAdmin()">

  <input type="file" (change)="onFileSelected($event)" accept=".xlsx" />
  <button (click)="uploadFile()" [disabled]="!selectedFile">Subir Productos</button>
  

  <input type="file" (change)="onPriceFileSelected($event)" accept=".xlsx" />
  <button (click)="uploadPrices()" [disabled]="!selectedPriceFile">Subir Precios</button>
</div> -->

<app-carrito></app-carrito>

<app-filters 
  (buscarPorCodigo)="buscarPorCodigoParcial($event)"
  (buscarPorEquivalencia)="buscarPorEquivalencia($event)"
  (buscarPorMedidas)="buscarPorMedidas($event)">
</app-filters>
<div *ngIf="mensajeUsuario" class="mensaje-usuario">
  {{ mensajeUsuario }}
</div>

<div class="contenedor">
  <h2>Listado de Productos</h2>

  <div class="layout">
    <div class="listado">
      <app-producto-listado 
        [products]="products" 
        (productSelected)="selectProduct($event)">
      </app-producto-listado>

    <app-paginacion 
  [currentPage]="currentPage" 
  [hasNextPage]="hasNextPage"
  [totalPages]="totalPages"
  (pageChanged)="changePage($event)">
</app-paginacion>

    </div>

    <div class="detalle" *ngIf="selectedProduct">
      <app-producto-detalle 
        [producto]="selectedProduct" 
        [isAdmin]="authService.isAdmin()" 
        [timestamp]="timestamp"
        (imagenSeleccionada)="imageFile = $event"
        (imagenSubida)="uploadProductImage()">
      </app-producto-detalle>
    </div>
  </div>
</div>

