:host {
  display: block;
  background-color: #000;
  min-height: 100vh;
  width: 100%;
}
.contenedor {
  margin-top: 1rem;
  padding: 40px 0 40px 40px;
  width: 1081px;
  background: #131314;
}

.layout {
  display: flex;
  align-items: flex-start;
}

.listado {
  margin-right: 40px;
}
