<app-buttons text="Cerrar sesión" type="secondary" (buttonClick)="logout()"></app-buttons>



  <app-buttons [isAdmin]="authService.isAdmin()" text="Panel de administrador" type="primary"
  route="/admin/dashboard"></app-buttons>

<div *ngIf="authService.isAdmin()">
  <!-- Subir productos -->
  <input type="file" (change)="onFileSelected($event)" accept=".xlsx" />
  <button (click)="uploadFile()" [disabled]="!selectedFile">Subir Productos</button>

  <!-- Subir precios -->
  <input type="file" (change)="onPriceFileSelected($event)" accept=".xlsx" />
  <button (click)="uploadPrices()" [disabled]="!selectedPriceFile">Subir Precios</button>
</div>

<app-filters 
  (buscarPorCodigo)="buscarPorCodigoParcial($event)"
  (buscarPorEquivalencia)="buscarPorEquivalencia($event)"
  (buscarPorMedidas)="buscarPorMedidas($event)">
</app-filters>
<div *ngIf="mensajeUsuario" class="mensaje-usuario">
  {{ mensajeUsuario }}
</div>

<div class="container mt-4">
  <h2>Catálogo de Productos</h2>

  <div class="row">
    <div class="col-md-8">
      <app-producto-listado 
        [products]="products" 
        (productSelected)="selectProduct($event)">
      </app-producto-listado>

      <app-paginacion 
        [currentPage]="currentPage" 
        [hasNextPage]="hasNextPage" 
        (pageChanged)="changePage($event)">
      </app-paginacion>
    </div>

    <div class="col-md-4" *ngIf="selectedProduct">
      <app-producto-detalle 
        [producto]="selectedProduct" 
        [isAdmin]="authService.isAdmin()" 
        [timestamp]="timestamp"
        (imagenSeleccionada)="imageFile = $event"
        (imagenSubida)="uploadProductImage()">
      </app-producto-detalle>
    </div>
  </div>
</div>
