<section class="bg-dark d-flex align-items-center text-white py-5 text-center">
    <div class="container">

        <!-- Título Importadas -->
        <div class="marcas-imp">
            <h5 class="fw-normal mb-4">Importadas</h5>

            <div class="d-flex flex-wrap justify-content-center gap-4">
                <img src="assets/logos/logo-belt.webp" alt="American Belt" class="marca-logo" />
                <img src="assets/logos/logo-nra.webp" alt="NRA" class="marca-logo" />
            </div>
        </div>

        <!-- Título Nacionales -->
        <h5 class="fw-normal mb-4">Nacionales</h5>

        <!-- Carrusel de Marcas Nacionales -->
        <div class="marca-carousel">
            <div class="marca-track">
                <!-- Se repiten para crear efecto infinito -->
                <img src="assets/logos/logo-yaco.webp" alt="YACO" />
                <img src="assets/logos/logo-mym.webp" alt="MYM" />
                <img src="assets/logos/logo-ntn.webp" alt="NTN" />
                <img src="assets/logos/logo-snr.webp" alt="SNR" />
                <img src="assets/logos/logo-arb.webp" alt="ARB" />
                <img src="assets/logos/logo-kbs.webp" alt="KBS" />
                <img src="assets/logos/logo-ina.webp" alt="INA" />
                <img src="assets/logos/logo-vec.webp" alt="VEC" />
                <img src="assets/logos/logo-koyo.webp" alt="Koyo" />
                <!-- Duplicado para loop -->
                <img src="assets/logos/logo-yaco.webp" alt="YACO" />
                <img src="assets/logos/logo-mym.webp" alt="MYM" />
                <img src="assets/logos/logo-ntn.webp" alt="NTN" />
                <img src="assets/logos/logo-snr.webp" alt="SNR" />
                <img src="assets/logos/logo-arb.webp" alt="ARB" />
                <img src="assets/logos/logo-kbs.webp" alt="KBS" />
                <img src="assets/logos/logo-ina.webp" alt="INA" />
                <img src="assets/logos/logo-vec.webp" alt="VEC" />
                <img src="assets/logos/logo-koyo.webp" alt="Koyo" />
            </div>
        </div>

    </div>
</section>