<div class="container">
    <h2>Detalles del Producto</h2>
    <div *ngIf="product">
      <p><strong>Prefijo:</strong> {{ product.Prefijo }}</p>
      <p><strong>Código:</strong> {{ product.Codigo }}</p>
      <p><strong>Marca:</strong> {{ product.MARCA }}</p>
      <p><strong>Nombre:</strong> {{ product.Nombre }}</p>
      <p><strong>Rubro:</strong> {{ product.NombreRubro }}</p>
      <p><strong>SubRubro:</strong> {{ product.NombreSubRubro }}</p>
      <p><strong>Interior:</strong> {{ product.INTERIOR }}</p>
      <p><strong>Exterior:</strong> {{ product.EXTERIOR }}</p>
      <p><strong>Ancho:</strong> {{ product.ANCHO }}</p>
      <p><strong>Observación:</strong> {{ product.Observacion }}</p>
    </div>
    <button routerLink="/catalogo" class="btn btn-primary">Volver al Catálogo</button>
  </div>


  