<div class="mb-3">
  <p>
    <strong>Prefijo:</strong>
    <ng-container *ngIf="modoEdicion; else prefijoView">
      <input [(ngModel)]="prefijo" (ngModelChange)="emitirCambios()" class="form-control d-inline-block w-auto ms-2">
    </ng-container>
    <ng-template #prefijoView>
      {{ prefijo }}
    </ng-template>
  </p>

  <p>
    <strong>Código:</strong>
    <ng-container *ngIf="modoEdicion; else codigoView">
      <input [(ngModel)]="codigo" (ngModelChange)="emitirCambios()" class="form-control d-inline-block w-auto ms-2">
    </ng-container>
    <ng-template #codigoView>
      {{ codigo }}
    </ng-template>
  </p>
</div>
  