<div *ngIf="aplicaciones.length > 0" class="aplicaciones-contenedor mt-3">
  <div class="table-responsive">
    <table class="table table-sm tabla-aplicaciones">
      <thead>
        <tr>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Descripción</th>
          <th>Observación</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let app of aplicaciones">
          <td #cell [attr.title]="isTextOverflow(cell) ? app.marcaVehiculo : null">
            {{ app.marcaVehiculo }}
          </td>
          <td #cell2 [attr.title]="isTextOverflow(cell2) ? app.modeloVehiculo : null">
            {{ app.modeloVehiculo }}
          </td>

          <td #cell3 [attr.title]="isTextOverflow(cell3) ? app.descripcion : null">
            {{ app.descripcion || '-' }}
          </td>
          <td><em>{{ app.observacion || '-' }}</em></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>