.aplicaciones-contenedor {
  background-color: #37393B;
  border-radius: 8px;
  padding: 6px 8px 0 8px;
  font-size: 15px;
  width: 700px;
  height: 124px;

  overflow: auto;
  /* Activa scroll vertical y horizontal si es necesario */
}

.tabla-aplicaciones {
  margin-bottom: 0;
  border-collapse: separate;
  border-spacing: 0;

  width: 100%;
  table-layout: fixed;

}



.tabla-aplicaciones th,
.tabla-aplicaciones td {
  border-right: 1px solid #555;
  vertical-align: middle;
  background-color: #37393B;
  color: #D6D6D6;
  padding: 1px 0 1px 15px;
  border-bottom: none !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
}

th {
  font-family: "DMSans-Bold", Helvetica;
}

td {
    font-family: "DMSans-Regular", Helvetica;
}

.tabla-aplicaciones th:last-child,
.tabla-aplicaciones td:last-child {
  border-right: none;
}


.table {
  background-color: #37393B !important;
  margin-bottom: 6px;
}


.table-responsive {
  margin-bottom: 6px;
}


.tabla-aplicaciones th:nth-child(1),
.tabla-aplicaciones td:nth-child(1) {
  width: 130px;
  /* Marca */
  overflow: hidden;
}

.tabla-aplicaciones th:nth-child(2),
.tabla-aplicaciones td:nth-child(2) {
  width: 90px;
  /* Modelo */
  overflow: hidden;
}

.tabla-aplicaciones th:nth-child(3),
.tabla-aplicaciones td:nth-child(3) {
  width: 160px;
  /* Descripción */
  overflow: hidden;
}

.tabla-aplicaciones th:nth-child(4),
.tabla-aplicaciones td:nth-child(4) {
  width: auto;
  /* Observación */
}