.productos {
  background-color: black;
  color: white;
}

.row {
  max-width: 1455px;
}

.container-titulo {
    width: 198px;
}

.titulo-productos {
  font-size: 30px;
  font-family: "DMSans-Regular", Helvetica;
  margin-bottom: 50px;
}

span {
  font-size: 19px;
  font-family: "DMSans-Regular", Helvetica;
}

.card-producto {
  background-color: #0A51AF;
  border-radius: 12px;
  width: 198px;
  height: 212px;
  transition: transform 0.2s;
  cursor: pointer;
  padding: 1rem;
}

.card-izq {
    margin-bottom: 20px;
}

.px-3 {
    padding-left: 20px !important;
}


.card-producto:hover {
  transform: scale(1.05);
}

.card-producto img {
  max-height: 80px;
  object-fit: contain;
}

.gap-20 {
  gap: 20px;
}

@media (max-width: 991px) {
  .card-producto {
    width: 166px;
    height: 180px;
  }

  .align-items-end {
    align-items: center !important;
  }

  .container-titulo {
    width: auto;
  }

  .titulo-productos {
    margin-bottom: 20px;
  }
}

