<div class="container-fluid d-flex flex-column justify-content-center py-5">
  <div class="row text-center justify-content-center">

    <div class="col-6 col-md-2 mb-4"
         data-bs-toggle="tooltip"
         data-bs-placement="bottom"
         title="Procesamos y enviamos tu pedido en tiempo recórd para que tengas lo que necesitás sin demora">
      <div class="icon-circle mx-auto mb-3">
        <img src="assets/despacho-logo.webp" alt="Despacho" class="img-fluid">
      </div>
      <p>Despacho ágil en<br>menos de 24 hs</p>
    </div>

    <div class="col-6 col-md-2 mb-4"
         data-bs-toggle="tooltip"
         data-bs-placement="bottom"
         title="Te asesoramos con conocimiento técnico real para que elijas el repuesto exacto que buscás">
      <div class="icon-circle mx-auto mb-3">
        <img src="assets/atencion-logo.webp" alt="Atención" class="img-fluid">
      </div>
      <p>Atención personalizada<br>y experta</p>
    </div>

    <div class="col-6 col-md-2 mb-4"
         data-bs-toggle="tooltip"
         data-bs-placement="bottom"
         title="Contamos con un amplio surtido de productos para entrega inmediata">
      <div class="icon-circle mx-auto mb-3">
        <img src="assets/stock-logo.webp" alt="Stock" class="img-fluid">
      </div>
      <p>Stock variado y<br>permanentemente<br> disponible</p>
    </div>

    <div class="col-6 col-md-2 mb-4"
         data-bs-toggle="tooltip"
         data-bs-placement="bottom"
         title="Somos importadores directos de marcas líderes del exterior">
      <div class="icon-circle mx-auto mb-3">
        <img src="assets/envios-logo.webp" alt="Marcas" class="img-fluid">
      </div>
      <p>Marcas importadas de<br>calidad</p>
    </div>

  </div>
</div>
