<div class="container py-5">
  <div class="row text-center justify-content-center">
    <div class="col-6 col-md-3 mb-4">
      <div class="icon-circle mx-auto mb-3">
        <img src="assets/icon-despacho.svg" alt="Despacho" class="img-fluid">
      </div>
      <p>Despacho ágil en<br>menos de 24 hs</p>
    </div>
    <div class="col-6 col-md-3 mb-4">
      <div class="icon-circle mx-auto mb-3">
        <img src="assets/icon-atencion.svg" alt="Atención" class="img-fluid">
      </div>
      <p>Atención personalizada<br>y experta</p>
    </div>
    <div class="col-6 col-md-3 mb-4">
      <div class="icon-circle mx-auto mb-3">
        <img src="assets/icon-stock.svg" alt="Stock" class="img-fluid">
      </div>
      <p>Stock variado y<br>permanentemente disponible</p>
    </div>
    <div class="col-6 col-md-3 mb-4">
      <div class="icon-circle mx-auto mb-3">
        <img src="assets/icon-marcas.svg" alt="Marcas" class="img-fluid">
      </div>
      <p>Marcas importadas de<br>calidad</p>
    </div>
  </div>
</div>
